---
const pageTitle = '我的study博客'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <a href="/">返回首页</a>
    <a href="/about">关于我</a>
    <a href="/blog">博客</a>

		<h1>{pageTitle}</h1>
    <p>这是我的全栈学习笔记</p>
    <ul>
      <li>
        <a href="/posts/post-1">next.js学习笔记</a>
      </li>
      <li>
        <a href="/posts/post-2">react学习笔记</a>
      </li>
      <li>
        <a href="/posts/post-3">webpack学习笔记</a>
      </li>
    </ul>

	</body>
</html>
